pip install streamlit
pip install spacy
pip install sumy
pip install pandas
pip install matplotlib
pip install networkx
pip install wordcloud
pip install textblob
pip install requests
pip install beautifulsoup4
